* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #081f5c;
    color: #f4edc6aa;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 15px 40px;
    background: linear-gradient(#0b0130, transparent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    color: #cadaee;
    font-size: 28px;
    font-weight: bold;
}

nav a {
    margin-left: 20px;
    color: white;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px 40px;
}

.btn {
    background: #d0e3ff;
    padding: 10px 18px;
    border-radius: 4px;
    display: inline-block;
    color: rgb(17, 15, 73);
}

.container {
    padding: 120px 40px;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 20px;
}

.movie-card {
    background: #2c3061;
    padding: 12px;
    border-radius: 6px;
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.movie-card {
    background: #01021d;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
}

.movie-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.movie-card h3 {
    color: #fff;
    font-size: 14px;
    padding: 10px;
}

.movie-actions {
    padding: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #333;
}

.login-bg {
    height: 100vh;
    background: #626b8c;
    background: linear-gradient(to bottom,#081f5c,#334eac,#bad6eb);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-box {
    background: #100b43;
    padding: 40px;
    width: 320px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #3b4e8c;
    border: none;
    color: rgb(155, 180, 249);
}

.error {
    color: red;
}
